.features {
  padding-top: 110px;
  padding-bottom: 116px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  position: relative;
  background-color: $background-image-color;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  @include vp-1023 {
    padding-top: 92px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 58px;
    padding-bottom: 66px;
  }
}

.features__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.features__title {
  font-size: 28px;
  line-height: 42px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 50px;

  @include vp-1023 {
    font-size: 26px;
    line-height: 39px;
    margin-bottom: 48px;
  }

  @include vp-767 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
  }
}

.features__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;

  @include vp-1023 {
    gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    row-gap: 28px;
  }
}

.features__item {
  display: flex;
}
