.features {
  padding: 110px 103px 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  position: relative;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }

  li {
    display: flex;
    // background-color: $color-default-white;
    // padding: 30px;
    // display: grid;
    // grid-template-columns: 1fr;
    // grid-template-rows: 46px 35px auto;
  }

  h2 {
    font-size: 28px;
    line-height: 42px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 52px;
  }

  // h3 {
  //   margin: 0;
  //   font-size: 18px;
  //   font-weight: 500;
  // }

  // p {
  //   font-size: 14px;
  //   line-height: 20px;
  //   margin: 0;
  // }

  @include vp-1023 {
    padding: 90px 45px 96px;

    h2 {
      font-size: 26px;
      line-height: 39px;
    }

    ul {
      gap: 30px;
    }

    // li {
    //   padding: 24px 16px 25px 20px;
    //   grid-template-rows: 51px auto auto;
    // }
  }

  @include vp-767 {
    padding: 65px 15px;

    h1 {
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 40px;
    }

    ul {
      grid-template-columns: 1fr;
      row-gap: 30px;
    }

    // li {
    //   padding: 25px 15px 25px 20px;
    // }
  }
}
