.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $color-default-white;

  img {
    object-fit: cover;
    width: 100%;
  }
}

.header__navigation {
  position: absolute;
  top: 35px;
  right: 0;
  left: 0;

  @include vp-767 {
    top: 20px;

    &--opened {
      top: 0;
      left: auto;
    }
  }
}

.header__title-wrap {
  position: absolute;
  top: 283px;
  left: 198px;

  @include vp-1023 {
    top: 280px;
    left: 45px;
  }

  @include vp-767 {
    top: 185px;
    left: 15px;
  }
}

.header__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 54px;
  font-weight: 700;
  line-height: 66px;

  @include vp-1023 {
    font-size: 50px;
    line-height: 61px;
    margin-bottom: 29px;
  }

  @include vp-767 {
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 25px;
  }
}

.header__text {
  margin: 0;
  font-size: 20px;
  line-height: 24px;

  @include vp-1023 {
    font-size: 18px;
    line-height: 22px;
  }

  @include vp-767 {
    font-size: 16px;
  }
}

