.header {
  position: relative;
  color: $color-default-white;
  padding: 35px 103px;
  min-height: 650px;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

  @include vp-1023 {
    padding: 30px 45px;
    min-height: 638px;
  }
}

.header__navigation {
  margin-bottom: 210px;

  @include vp-1023 {
    margin-bottom: 200px;
  }
}

.header__title-wrap {
  position: absolute;
  top: 272px;
  left: 198px;

  @include vp-1023 {
    top: 268px;
    left: 48px;
  }

  @include vp-767 {
    top: 185px;
    left: 15px;
  }
}

.header__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 54px;
  font-weight: 700;
  line-height: 66px;

  @include vp-1023 {
    font-size: 50px;
    line-height: 61px;
    margin-bottom: 12px;
  }

  @include vp-767 {
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 25px;
  }
}

.header__text {
  margin: 0;
  font-size: 20px;
  line-height: 24px;

  @include vp-1023 {
    font-size: 18px;
    line-height: 22px;
  }

  @include vp-767 {
    font-size: 16px;
  }
}

