.header {
  position: relative;
  color: $color-default-white;
  min-height: 650px;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  @include vp-1023 {
    min-height: 638px;
  }

  @include vp-767 {
    min-height: 500px;

    &--nojs {
      & .header__navigation {
        position: static;
        width: 100%;
        min-height: min-content;
      }

      & .header__button {
        display: none;
      }

      img {
        position: static;
      }

      & .header__title-wrap {
        top: 500px;
      }
    }
  }
}

.header__navigation {
  padding-top: 35px;

  @include vp-1023 {
    padding-top: 30px;
  }

  @include vp-767 {
    padding-top: 20px;
  }
}

.header__title-wrap {
  padding-top: 200px;
  padding-left: 95px;

  @include vp-1023 {
    padding-top: 216px;
    padding-left: 0;
  }

  @include vp-767 {
    padding-top: 134px;
  }
}

.header__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 54px;
  font-weight: 700;
  line-height: 66px;

  @include vp-1023 {
    font-size: 50px;
    line-height: 61px;
    margin-bottom: 12px;
  }

  @include vp-767 {
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 10px;
  }
}

.header__text {
  margin: 0;
  font-size: 20px;
  line-height: 24px;

  @include vp-1023 {
    font-size: 18px;
    line-height: 22px;
  }

  @include vp-767 {
    font-size: 16px;
  }
}

.header__img-wrap {
  background-color: $color-default-dark-blue;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
