.product {
  a {
    position: relative;

    h2 {
      position: absolute;
      bottom: 30px;
      left: 30px;
      width: 100%;
      font-size: 18px;
      font-weight: 500;
      margin: 0;
    }
  }
}
