.social {
  display: flex;
}

.social__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
}

.social__item {
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;

  &:not(:last-child) {
    margin-right: 28px;
  }

  @include vp-1023 {
    width: 16px;
    height: 16px;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include vp-767 {
    &:not(:last-child) {
      margin-right: 18px;
    }
  }
}

.social__link {
  display: flex;

  svg {
    fill: $color-default-white;
  }

  &:focus,
  &:hover {
    color: $background-color-focus;

    svg {
      fill: $background-color-focus;
    }
  }

  @include vp-1023 {
    &_facebook svg {
      width: 9px;
      height: 16px;
    }

    &_instagram svg {
      width: 16px;
      height: 16px;
    }

    &_twitter svg {
      width: 16px;
      height: 13px;
    }
  }
}
