.social {
  display: flex;
}

.social__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.social__item {
  &:not(:last-child) {
    margin-right: 28px;
  }

  @include vp-1023 {
    &:not(:last-child) {
      margin-right: 23px;
    }
  }
}

.social__link {
  display: flex;

  svg {
    fill: $color-default-white;
  }

  &:focus,
  &:hover {
    color: $background-color-focus;

    svg {
      fill: $background-color-focus;
    }
  }

  @include vp-1023 {
    &_facebook svg {
      width: 9px;
      height: 16px;
    }

    &_instagram svg {
      width: 16px;
      height: 16px;
    }

    &_twitter svg {
      width: 16px;
      height: 13px;
    }
  }
}
